html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: #FAFAFA;
}

@font-face {
    src : url("../font/GmarketSansTTF/GmarketSansTTFMedium.ttf");
    font-family: GmarketSansTTF;
    font-display: swap;
}

* {
    font-family: GmarketSansTTF, FontAwesome;
}

#shelter:hover ~ #shelter_description {
    display: block;
}

#compass:hover ~ #gps_description {
    display: block;
}

#satelite:hover ~ #mapchange_description {
    display: block;
}